<!DOCTYPE html>
<html>

<head>
    <title>form</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="https://unpkg.com/react@16.10.2/umd/react.production.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/react-dom@16.10.2/umd/react-dom.production.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script type="text/javascript" src="acy-form.js"></script></body>
</head>

<body>
    <div id="app"></div>

    <script>
        var contactForm = new Acy.FormWebinar({
            documentID: document.getElementById('app'),
            selectorId: 'selector',
            lang: 'zh',
        })

        // var contactForm = new Acy.FormContactUs({
        //     documentID: document.getElementById('app'),
        //     lang: 'zh',
        // })

        // var contactForm = new Acy.ContestRegisterForm({
        //     documentID: document.getElementById('app'),
        //     lang: 'zh',
        // })


    </script>
</body>




</html>